<header>
  <h2><a href=""><img src="svg/legacy.svg" height="40"></a></h2>
  <div class="flex-1 flex-center">
    <div *ngIf="exchangeRate" class="right">{{exchangeRate}}</div>
  </div>
</header>
<div class="page">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="wrapper">
    <div class="menu">
      <img src="svg/legacy.svg" height="40" class="filter-white">
      <p >Solution for the legacy of your cryptocurrencies. Don't worry about the legacy of your crypto
        assets</p>
    </div>
    <div class="menu">
      <p class="title">Dirección</p>
      <ul>
        <li class="fa fa-map-marker-alt me-3">Lima, Perú</li>
        <li class="fa fa-phone-alt me-3">+51 975 002 719</li>
        <li class="fa fa-phone-alt me-3">luis.barragan&#64;bigdata.pe</li>
      </ul>
    </div>
    <div class="menu">
      <p class="title">Enlaces</p>
      <ul>
        <li><a href="/#about-us">Nosotros</a></li>
        <li><a href="/#contact-us">Contáctanos</a></li>
        <li><a href="/#contact-us">Soporte</a></li>
        <li><a href="/file/terms_and_conditions.pdf" target="_blank">Términos y condiciones</a></li>
      </ul>
    </div>
    <div class="menu">
      <p class="title">Noticias</p>
      <ul class="none">
        <li>Participamos en la Hackaton de Andino DAO octubre 2022.</li>
      </ul>
    </div>
  </div>
</footer>
