<section>
  <h3 class="welcome center">
    Connect Wallet
  </h3>
  <div class="center">

    <p>
      <a mat-raised-button color="primary" (click)="onMetamaskConnect()">
        <span class="flex">
          <img
            src="img/metamask.png"
            alt="Metamask Wallet" >
          <span>MetaMask</span>
        </span>

      </a>
    </p>

    <p>
      <a mat-raised-button color="primary" (click)="onIcAuthConnect()">
        <span class="flex">
          <img
            src="img/nfid.png"
            alt="NFID" >
          <span>NFID</span>
        </span>

      </a>
    </p>

  </div>
</section>
